<%- include("partials/header") %>

<br />

    <h2 class="title is-1">VK Auth App</h2>

    <div class="control">
        <p class="bd-notification">
            <button class="button is-info is-medium is-fullwidth">
                <a style= "color: black"
                href="/auth/vkontakte">Authorize</a>
            </button>
        </p>
    </div>


<%- include("partials/footer") %>